
.edit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
}

.add-button {
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
}

.boardtitle {
  display:inline-block; 
}

.boardtitle:hover {
  font-style: italic;
  color: grey;
  cursor: pointer
}