body {
  color: #253237;
  background-color: #E8EBF7;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

div.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-img {
  padding: 10px;
  max-height: 60px;
}

.colour-nav {
  background-color: #D29DCC;
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
}

.add-button {
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
}

.boardtitle {
  display:inline-block; 
}

.boardtitle:hover {
  font-style: italic;
  color: grey;
  cursor: pointer
}

.columntitle {
  display:inline-block; 
}

.columntitle:hover {
  font-style: italic;
  color: grey;
  cursor: pointer
}